# tmp files
*~

# Composer
vendor/*

# Node.js/Grunt
node_modules/*

# SASS
.sass-cache/*

# ignore generated code coverage files
tests/coverage/*

# ignore dummy PHP file for language names
php-typography/_language_names.php

# IANA TLD list
php-typography/IANA/tlds-alpha-by-domain.txt

# macOS Finder
.DS_Store
