<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php">
	<testsuites>
	    <testsuite name="wpTypography">
			<file>tests/class-parse-text-test.php</file>
			<file>tests/class-php-typography-test.php</file>
	    </testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
	    	<directory suffix=".php">php-typography</directory>
	    	<exclude>
	    		<directory>php-typography/lang_unformatted</directory>
	    		<directory>php-typography/lang</directory>
	    		<directory>php-typography/diacritics</directory>
	    		<file>php-typography/php-typography-autoload.php</file>
	    		<file>php-typography/php-typography-debug.php</file>
	    		<file>php-typography/_language_names.php</file>
	    	</exclude>
		</whitelist>
	</filter>
</phpunit>
