<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
	<testsuites>
	    <testsuite name="wpTypography">
			<file>tests/class-parse-text-test.php</file>
			<file>tests/class-php-typography-test.php</file>
	    </testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
	    	<directory suffix=".php">php-typography/</directory>
		</whitelist>
	</filter>
</phpunit>